<div id="banner">
  <div class="banner-inner">
    <span id="logo"><span class="octicon octicon-mark-github"></span></span>

    <a href="https://github.com/GeoMop/GeoMop" class="button fork">Fork On GitHub</a>
    <div class="downloads">
      <span>Download</span>
      <ul class="ng--binding" ng-cloak>

        <li><a href="{$ versionRoot $}/geomop_{$ version $}-1_all.deb" target="_blank" class="button">
          <i class="fa fa-linux" aria-hidden="true"></i>
          <span>Linux installer <b>{$ version $}</b></span>
        </a></li>

        <li><a href="{$ versionRoot $}/geomop_{$ version $}_x86.exe" target="_blank" class="button">
          <i class="fa fa-windows" aria-hidden="true"></i>
          <span>Windows installer <b>{$ version $}</b></span>
        </a></li>
      </ul>
    </div>
  </div>
</div>
