<nav>
  <div class="ng--binding" ng-cloak>
    <h2>Releases</h2>
    <select class="version" name='version' ng-model="version" ng-change="versionChanged()" ng-cloak>
    	<option ng-repeat="option in options" value='{$ option.version $}'>{$ option.display $}</option>
    </select>

    <ul class="version-menu">
      <li ng-show="item.visible.download"><a href="/releases/{$ version $}/download">download</a></li>
      <li ng-show="item.visible.features"><a href="/releases/{$ version $}/features">features</a></li>
      <li ng-show="item.visible.changes"><a href="/releases/{$ version $}/changes">changes</a></li>
      <li ng-show="item.visible.source"><a href="/releases/{$ version $}/source">source</a></li>
      <li ng-show="item.visible.manual"><a href="{$ versionRoot $}/Geomop {$ version $} reference guide.pdf" target="_blank">user PDF manual</a></li>
    </ul>
  </div>

  <hr />

  <ul class="main-menu">
    <!-- <li><a href="/">
      home
      <i class="fa fa-home" aria-hidden="true"></i>
    </a></li> -->
    <!-- <li><a href="https://github.com/GeoMop/GeoMop" target="_blank">
      GitHub page
      <i class="fa fa-github" aria-hidden="true"></i>
    </a></li> -->
    <li><a href="/about/license/">
      license
      <!-- <i class="fa fa-copyright" aria-hidden="true"></i> -->
    </a></li>
    <li><a href="/about/acknowledgments/">
      acknowledgments
      <!-- <i class="fa fa-group" aria-hidden="true"></i> -->
    </a></li>
    <!-- <li><a href="/about/publications/">
      publications
    </a></li> -->
    <!-- <li><a href="/about/contact-us/">
      contact us
    </a></li> -->
  </ul>
</nav>
