<nav>
  <div class="ng--binding" ng-cloak>
    <select class="version" name='version' ng-model="version" ng-change="versionChanged()" ng-cloak>
    	<option ng-repeat="option in options" value='{$ option.version $}'>{$ option.display $}</option>
    </select>

    <ul class="version-menu">
      <!-- <li ng-show="item.visible.download">
        <a href="/releases/{$ version $}/download">
          download
        </a>
      </li> -->
      <li ng-show="item.visible.features">
        <a href="/releases/{$ version $}/features" title="Features overview">
          features
        </a>
      </li>
      <li ng-show="item.visible.changes">
        <a href="/releases/{$ version $}/changes" title="Change log">
          changes
        </a>
      </li>
      <li ng-show="item.visible.source">
        <a href="/releases/{$ version $}/source" title="Source documentation">
          source
        </a>
      </li>
      <li ng-show="item.visible.manual">
        <a href="{$ versionRoot $}/{$ documentation_relative $}" target="_blank" title="reference guide in PDF format">
          reference guide
          <i class="text-danger fa fa-file-pdf-o" alt="PDF format" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>

  <hr />

  <ul class="main-menu">
    <!-- <li><a href="/">
      home
      <i class="fa fa-home" aria-hidden="true"></i>
    </a></li> -->
    <!-- <li><a href="https://github.com/GeoMop/GeoMop" target="_blank">
      GitHub page
      <i class="fa fa-github" aria-hidden="true"></i>
    </a></li> -->
    <li><a href="/about/license/">
      license
      <!-- <i class="fa fa-copyright" aria-hidden="true"></i> -->
    </a></li>
    <li><a href="/about/acknowledgments/">
      acknowledgments
      <!-- <i class="fa fa-group" aria-hidden="true"></i> -->
    </a></li>
    <!-- <li><a href="/about/publications/">
      publications
    </a></li> -->
    <!-- <li><a href="/about/contact-us/">
      contact us
    </a></li> -->
  </ul>
</nav>
